<section class="facts service__category service__subcategory section-space">
  <div class="bg-light-section">
    <div class="container">
      <div class="row facts__content-container service__category__image">
          <div class="col-lg-6 d-flex justify-content-center animate__animated animate__fadeIn animate__delay-1s">
              <img class="img-fluid" [src]="apiUrl + mainSection?.mainSectionImg" width="809" height="731">
          </div>
          <div class="col-lg-6 ">
              <div class="facts__content">
                  <h2 class="service__main__title career__title">{{mainSection?.mainSectionTitle}} </h2>
                  <p class="line-clamp-10">
                    {{mainSection?.mainSectionDescription}} </p>
              </div>
          </div>
      </div>
    </div>
  </div>

</section>