<div class="about-page">
    <!-- Start Loading -->
    <app-loader *ngIf="loaded"></app-loader>
    <!-- End Loading -->
    <!-- Start Header -->

    <app-page-header
      [headerTitle]="'About Us'"
      [headerImage]="'AboutUs/about_header.png'"
      >
    </app-page-header>
    <!-- End Header -->
    <!-- Start Contact Content -->

    <section class="all-service-page  ">
      <div class="container">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li routerLink=""  class="breadcrumb-item">
              <svg xmlns="http://www.w3.org/2000/svg"  height="23.016" viewBox="0 0 24 23.016">
                <path id="Home_icon_SVG" data-name="Home icon_SVG" d="M23.728,21.082,13.959,11.25l-.039-.037a2.81,2.81,0,0,0-3.749-.008l-.039.037L.275,21.079A.938.938,0,0,0,1.6,22.406l.744-.743v8.095a3.754,3.754,0,0,0,3.75,3.75H9.469a.937.937,0,0,0,.937-.937V24.93h3.281v7.641a.937.937,0,0,0,.938.938h3.281a3.754,3.754,0,0,0,3.75-3.75.937.937,0,1,0-1.875,0,1.877,1.877,0,0,1-1.875,1.875H15.563V23.993a.937.937,0,0,0-.937-.937H9.469a.937.937,0,0,0-.937.938v7.641H6.094a1.877,1.877,0,0,1-1.875-1.875V19.821q0-.014,0-.028l7.217-7.2a.937.937,0,0,1,1.216,0l7.13,7.177v5.3a.937.937,0,1,0,1.875,0V21.658l.741.746a.937.937,0,0,0,1.33-1.322Z" transform="translate(0 -10.492)" fill="#0055b8"/>
              </svg>
              <a >Home</a>
            </li>
            <li class="breadcrumb-item active"><a>About Us</a></li>
          </ol>
        </nav>
      </div>
    </section>

    <!-- Start -->
    <section class="facts service__category section-space service">
      <div class="content-leap">
        <div class="container">
          <div class="row facts__content-container service__category__image align-items-center ">
              <div class="col-lg-6 d-flex justify-content-center text-center  animate__animated animate__fadeIn animate__delay-1s">
                  <img class="img-fluid w-100" src="../../../../../../assets/img/AboutUs/Img.png">
              </div>
              <div class="col-lg-6 ">
                  <div class="facts__content">
                    <h2 class="service__main__title d-block ">Vision & Mission</h2>
                      <h4 class="service__sub__title">Our Vision</h4>
                      <p class=" lh-lg">To be one-stop-shop for software solutions in the global market.</p>
                      <h4 class="service__sub__title">Our Mission</h4>
                      <p class="line-clamp-5 lh-lg  ">To provide innovative software solutions, products and services enabling our customers to reach business efficiency and process optimization. Backed with high-caliber personals, an agile mindset and state-of-the-art software technologies, Lumin Soft provides a set of software products and solutions that serve the public sector and corporates in both Egyptian and global markets.</p>

                    </div>

              </div>
          </div>
        </div>

      </div>

      <div class="our-facts sub__category__titles">
          <div class="overlay-sperator">
              <img src="../../../../assets/img/services/BottomCurvedShape.svg">
              <div class="section-heading">
                  <h2 data-title="LEADERSHIP">Leadership Team</h2>
              </div>
          </div>
      </div>
  </section>
    <!-- End -->
  <!-- Start Content Team -->
    <section class="service__subcategory content-teams">
      <div class="container">
        <div class=" text-center service-catagory-paragraph">
          <p class="line-clamp-4">Meet our dynamic leadership team at Lumin Soft, a group of visionary minds steering innovation. With a wealth of experience and expertise, they navigate the ever-evolving tech landscape, embodying a commitment to creativity, collaboration, and trailblazing solutions.</p>
        </div>
        <div class="row g-5">
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
            <div class="card-team" >

              <div class="card-flip">
                <div class="card-flip-content">
                  <div class="card__face card__face--front">
                    <img src="../../../assets/img/AboutUs/team1.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card__face card__face--back">
                    <p>Comes with more than 27 years of management experience in Software development, ICT and system integration firms. He is the founder and chairman of Excel Group and currently Chairman and founder of Lumin group.</p>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <h5 class="card-title">Ahmed Sarhan</h5>
                <p class="card-text">Chairman / Founder</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
            <div class="card-team" >
              <div class="card-flip">
                <div class="card-flip-content">
                  <div class="card__face card__face--front">
                    <img src="../../../assets/img/AboutUs/team3.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card__face card__face--back">
                    <p>Comes with more than 16 years of software development experiance and proven track record of successful national projects, he is aiming to create a diverse and inclusive working environment and strengthening the company’s ethical values and corporate governance. </p>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <h5 class="card-title">Mohamed Kamel</h5>
                <p class="card-text">CEO</p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
            <div class="card-team" >
              <div class="card-flip">
                <div class="card-flip-content">
                  <div class="card__face card__face--front">
                    <img src="../../../assets/img/AboutUs/team4.png" class="card-img-top" alt="...">
                  </div>
                  <div class="card__face card__face--back">
                    <p>Comes with more than 25 years of ICT experience, worked at IBM as a developer, RAYA as GM business solutions, Etisalat as Marketing and Sales Sr. Director for the Enterprise segment and currently Group CCO for lumin.</p>
                  </div>
                </div>
              </div>

              <div class="card-body">
                <h5 class="card-title">Omar Sarhan</h5>
                <p class="card-text">Board Member</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Content Team -->

    <!-- Start News -->
    <div class="partners contact-News">
      <!-- <img src="../../../../assets/img/BG.svg"> -->
      <div class="section-heading">
          <h2 data-title="OUR NEWS ">Latest News</h2>

      </div>
      <div class="parteners--overlay">
          <div class="container">
              <div class="row">
                  <div class="services-overview">
                      <p class="">Welcome to the forefront of current events and breaking stories of Lumin Soft. Stay informed with the latest updates on our technological breakthroughs, national and global affairs, certifications, and achievements that shape our Lumin Soft community.
                      </p>
                  </div>

              </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card-news ">
                  <div class="content-card-news">
                    <h5 class="title-card-news line-clamp-5 ">Pioneering eKYC Certification in Egypt!</h5>

                  <div class="card-news-body">
                    <div class="image">
                      <img src="../../../assets/img/products/eNROLL.jpg" alt="">
                    </div>
                    <p class="text-content">Lumin Soft has achieved a historic milestone being the first company to be certified on eKYC (electronic Know Your Customer) service in Egypt, underscoring the company's dedication to excellence through unwavering innovation and hard work.</p>
                  </div>
                  <div class="date"><span class="day">31</span> <span class="month">JAN</span></div>
                  <a routerLink="/news/1" class="link-card" style="cursor: pointer;"><img src="../../../assets/img/home/icons/arrow.svg" alt=""></a>

                  </div>
              </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="card-news ">
                  <div class="content-card-news">
                    <h5 class="title-card-news line-clamp-5 ">Taking Center Stage at LEAP 24 Event!</h5>

                  <div class="card-news-body">
                    <div class="image">
                      <img src="../../../assets/img/AboutUs/leap.jpg" alt="">
                    </div>
                    <p class="text-content">Lumin Soft proudly announces its participation in the prestigious LEAP 24 conference from 4-7 March 2024, in Riyadh - KSA, showcasing trailblazing advancements and solutions, and engaging with the industry experts as they unveil cutting-edge technologies.</p>
                  </div>
                  <div class="date"><span class="day">4</span> <span class="month">MAR</span></div>
                  <a routerLink="/leap" class="link-card" style="cursor: pointer;"><img src="../../../assets/img/home/icons/arrow.svg" alt=""></a>
                  </div>
              </div>
              </div>


            </div>
            <div class="more text-center">

              <a routerLink="/coming-soon" class="btn btn-secondary m-auto my-5">
                All News
                <img src="assets/img/home/icons/arrow.svg" alt="" class="ms-2" style="width: 20px;">
              </a>

            </div>


          </div>
      </div>

  </div>
    <!-- End News -->
</div>

<div class="section-seprator bg-white">
  <img src="../../../../assets/img/home/TopCurves.svg">
</div>
