<app-loader *ngIf="loaded"></app-loader>
<app-page-header 
  [headerTitle]="'Products'"
  [headerImage]="'products/Products-banner03.jpg'"
  id="productHeader"
  >
</app-page-header>

<section class="all-service-page">
    <div class="container">
      <!-- breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <svg xmlns="http://www.w3.org/2000/svg"  height="23.016" viewBox="0 0 24 23.016">
              <path id="Home_icon_SVG" data-name="Home icon_SVG" d="M23.728,21.082,13.959,11.25l-.039-.037a2.81,2.81,0,0,0-3.749-.008l-.039.037L.275,21.079A.938.938,0,0,0,1.6,22.406l.744-.743v8.095a3.754,3.754,0,0,0,3.75,3.75H9.469a.937.937,0,0,0,.937-.937V24.93h3.281v7.641a.937.937,0,0,0,.938.938h3.281a3.754,3.754,0,0,0,3.75-3.75.937.937,0,1,0-1.875,0,1.877,1.877,0,0,1-1.875,1.875H15.563V23.993a.937.937,0,0,0-.937-.937H9.469a.937.937,0,0,0-.937.938v7.641H6.094a1.877,1.877,0,0,1-1.875-1.875V19.821q0-.014,0-.028l7.217-7.2a.937.937,0,0,1,1.216,0l7.13,7.177v5.3a.937.937,0,1,0,1.875,0V21.658l.741.746a.937.937,0,0,0,1.33-1.322Z" transform="translate(0 -10.492)" fill="#0055b8"/>
            </svg>
            <a routerLink="">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Products</li>
        </ol>
      </nav>
      <div class=" text-center service-paragraph">
        <p class="line-clamp-4">Experience innovation at its best with our software suite! <br>Meticulously crafted to enhance efficiency and elevate performance, our products and solutions redefine industry standards, offering a perfect blend of scalability, security, and novelty. </p>
      </div>
      <div class="row g-5">
        <div *ngFor="let product of productList" class="col-lg-4 col-md-6 col-12 project-item-container">
          <div class="project-image">
            <img class="img-fluid" src="../../../../assets/img/{{product.productImage}}">
          </div>
          <div class="project-content">
            <h3>{{product.productTitle}}</h3>
            <p class="line-clamp-3">{{product.productDescription}}</p>
            <div class="d-flex justify-content-end">
              <button  (click)="openURL($event,'products',product.productTitleNavigation)"   class="btn btn-primary btn-more" tabindex="0">
                <img  src="../../../../assets/img/home/icons/arrow.svg" class="img-fluid">
              </button>
              <!-- <button (click)="openURL($event,'products',product.productTitle)"   class="btn btn-primary btn-more" tabindex="0">
                <img  src="../../../../assets/img/home/icons/arrow.svg" class="img-fluid">
              </button> -->
            </div>
          </div>
  
        </div>        
      </div>
    </div>
</section>   

<div class="section-seprator bg-service product-page">
  <img src="../../../../assets/img/home/TopCurves.svg">
</div>
