<div class="page-header" >
    <img [src]="'../../../../assets/img/' + headerImage" [alt]="headerTitle" class="img-service">
    <div class="title-overlay">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="section-heading">
                    <h2 >{{headerTitle}}</h2>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!showWhiteCurve" class="section-seprator">
        <img src="../../../../assets/img/services/TopCurves.svg">
    </div>
    <div *ngIf="showWhiteCurve" class="section-seprator">
        <img src="../../../../assets/img/partners/Top Curves.svg">
    </div>
    
</div>