<app-loader *ngIf="loaded"></app-loader>
<app-page-header 
  [headerTitle]="'Terms & Conditions'"
  [headerImage]="'privacy.png'"
  id="privacyHeader"
  >
</app-page-header>

<div class="all-service-page">
    <div class="container">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li routerLink=""  class="breadcrumb-item">
              <svg xmlns="http://www.w3.org/2000/svg"  height="23.016" viewBox="0 0 24 23.016">
                <path id="Home_icon_SVG" data-name="Home icon_SVG" d="M23.728,21.082,13.959,11.25l-.039-.037a2.81,2.81,0,0,0-3.749-.008l-.039.037L.275,21.079A.938.938,0,0,0,1.6,22.406l.744-.743v8.095a3.754,3.754,0,0,0,3.75,3.75H9.469a.937.937,0,0,0,.937-.937V24.93h3.281v7.641a.937.937,0,0,0,.938.938h3.281a3.754,3.754,0,0,0,3.75-3.75.937.937,0,1,0-1.875,0,1.877,1.877,0,0,1-1.875,1.875H15.563V23.993a.937.937,0,0,0-.937-.937H9.469a.937.937,0,0,0-.937.938v7.641H6.094a1.877,1.877,0,0,1-1.875-1.875V19.821q0-.014,0-.028l7.217-7.2a.937.937,0,0,1,1.216,0l7.13,7.177v5.3a.937.937,0,1,0,1.875,0V21.658l.741.746a.937.937,0,0,0,1.33-1.322Z" transform="translate(0 -10.492)" fill="#0055b8"/>
              </svg>
              <a >Home</a>
            </li>   
            <li class="breadcrumb-item active" aria-current="page">Terms Condation</li>
          </ol>
        </nav>
        <div class=" text-center service-paragraph ">
          <p class="line-clamp-4">These terms and conditions ("Terms", "Agreement") are an agreement between Lumin Soft company ("Company", "us", "we", or "our") and user ("User", “Client”, "you", or "your") to set forth the general terms and conditions of use of the software and any of its related products and services (collectively, "Software" or "Services").</p>
        </div>
        <div class="privacy-container my-3">
            <h2>Usage</h2>
            <p class="line-clamp-4">By accessing and using the Software, you agree to be bound by these Terms. If you disagree with any part of these Terms, you must not use the Software.</p>
        </div>
        <div class="privacy-container my-3">
            <h2>License</h2>
            <p class="line-clamp-4">We grant you a limited, non-exclusive, non-transferable, and revocable license to use the Software for your personal or commercial purposes, subject to these Terms.</p>
        </div>
        <div class="privacy-container my-3">
            <h2>Restrictions</h2>
            <p class="line-clamp-4">You agree not to reproduce, duplicate, copy, sell, resell, or exploit any portion of the Software, use of the Software, or access to the Software without our express written permission.</p>
        </div>
        <div class="privacy-container my-3">
            <h2>Intellectual  <span> Property</span></h2>
            <p class="line-clamp-4">The Software and its original content, features, and functionality are and will remain the exclusive property of Lumin Soft and its licensors. The Software is protected by copyright, trademark, and other laws of both Egypt and foreign countries.</p>
        </div>
        <div class="privacy-container my-3">
            <h2>Limitation  <span> of Liability</span></h2>
            <p class="line-clamp-4">In no event shall the Company, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential, or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses.</p>
        </div>
        <div class="privacy-container my-3">
            <h2>Warranty</h2>
            <p class="line-clamp-4">The Software is provided "as is," with all faults, and the Company makes no express or implied representations or warranties of any kind related to the Software or the materials contained on the Software.</p>
        </div>
        <div class="privacy-container my-3">
            <h2>Governing  <span> Law</span></h2>
            <p class="line-clamp-4">These Terms shall be governed and construed in accordance with the Egyptian laws, without regard to its conflict of law provisions.</p>
        </div>
        <div class="privacy-container my-3">
            <h2>Changes</h2>
            <p class="line-clamp-4">We reserve the right, at our sole discretion, to modify or replace these Terms at any time, providing a notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
        </div>
        <div class="privacy-container my-3">
            <h2>Contact <span> Us</span></h2>
            <p class="line-clamp-4">If you have any questions about these Terms, please contact us.</p>
        </div>
        <div class=" text-center service-paragraph mt-5 mb-0">
            <strong>
                <p class="line-clamp-4">By using our Software, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions.</p>
            </strong>
        </div>

    </div>
</div>
<div class="section-seprator bg-service pt-2">
    <img src="../../../../assets/img/home/TopCurves.svg">
</div>
