<app-loader *ngIf="loaded"></app-loader>
<app-page-header 
  [headerTitle]="'Privacy Policy'"
  [headerImage]="'privacy.png'"
  id="privacyHeader"
  >
</app-page-header>

<div class="all-service-page">
    <div class="container">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li routerLink=""  class="breadcrumb-item">
              <svg xmlns="http://www.w3.org/2000/svg"  height="23.016" viewBox="0 0 24 23.016">
                <path id="Home_icon_SVG" data-name="Home icon_SVG" d="M23.728,21.082,13.959,11.25l-.039-.037a2.81,2.81,0,0,0-3.749-.008l-.039.037L.275,21.079A.938.938,0,0,0,1.6,22.406l.744-.743v8.095a3.754,3.754,0,0,0,3.75,3.75H9.469a.937.937,0,0,0,.937-.937V24.93h3.281v7.641a.937.937,0,0,0,.938.938h3.281a3.754,3.754,0,0,0,3.75-3.75.937.937,0,1,0-1.875,0,1.877,1.877,0,0,1-1.875,1.875H15.563V23.993a.937.937,0,0,0-.937-.937H9.469a.937.937,0,0,0-.937.938v7.641H6.094a1.877,1.877,0,0,1-1.875-1.875V19.821q0-.014,0-.028l7.217-7.2a.937.937,0,0,1,1.216,0l7.13,7.177v5.3a.937.937,0,1,0,1.875,0V21.658l.741.746a.937.937,0,0,0,1.33-1.322Z" transform="translate(0 -10.492)" fill="#0055b8"/>
              </svg>
              <a >Home</a>
            </li>   
            <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
          </ol>
        </nav>
        <div class=" text-center service-paragraph ">
          <p class="line-clamp-4">Lumin Soft is committed to protecting the privacy and security of all our clients and users’ personal information. This Privacy Policy outlines the types of personal information we collect, how we use and safeguard that information, and your rights in relation to your personal information.</p>
        </div>
        <div class="privacy-container my-5">
            <h2>Information <span> We Collect</span></h2>
            <p class="line-clamp-4">We may collect personal information directly from you when you interact with us, such as when you visit our website, use our software products or services, or communicate with us via email or other channels. The types of personal information we may collect include:</p>
            <ul>
                <li>Contact information (such as name, email address, mailing address, and phone number).</li>
                <li>Payment information (such as credit card details).</li>
                <li>Information about your interactions with us (such as the pages you visit on our website or your usage of our software products and services).</li>
                <li>Other information you voluntarily provide to us.</li>
            </ul>
        </div>
        <div class="privacy-container my-5">
            <h2>How  <span> We Use Your Information</span></h2>
            <p class="line-clamp-4">We may use your personal information for the following purposes:</p>
            <ul>
                <li>To provide and improve our software products and services.</li>
                <li>To respond to your inquiries and provide customer support.</li>
                <li>To send you important notices, updates, or marketing communications.</li>
                <li>To detect, prevent, and address technical issues or security incidents.</li>
                <li>To comply with legal obligations or enforce our terms of service.</li>
            </ul>
        </div>
        <div class="privacy-container my-5">
            <h2>Information  <span> Sharing and Disclosure</span></h2>
            <p class="line-clamp-4">We may share your personal information with third parties under the following circumstances:</p>
            <ul>
                <li>With service providers who help us operate our business or provide services on our behalf.</li>
                <li>With our affiliates, subsidiaries, or other entities within our corporate group.</li>
                <li>When required by law or in response to a valid legal request.</li>
                <li>With your consent or at your direction.</li>
            </ul>
        </div>
        <div class="privacy-container my-5">
            <h2>Data  <span> Security</span></h2>
            <p class="line-clamp-4">We take reasonable measures to protect the confidentiality, integrity, and security of your personal information.</p>
        </div>
        <div class="privacy-container my-5">
            <h2>Your  <span> Rights and Choices</span></h2>
            <p class="line-clamp-4">You may have certain rights and choices regarding your personal information, including:</p>
            <ul>
                <li>Accessing, updating, or deleting your personal information.</li>
                <li>Opting out of receiving marketing communications.</li>
                <li>Objecting to certain processing activities or restricting the use of your personal information.</li>
                <li>Withdrawing your consent, where applicable.</li>
            </ul>
        </div>
        <div class="privacy-container my-5">
            <h2>Changes   <span> to this Privacy Policy</span></h2>
            <p class="line-clamp-4">
                We may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. We will notify you of any material changes by posting the updated Privacy Policy on our website or by other means. Your continued use of our products or services after such changes constitutes your acceptance of the updated Privacy Policy.
            </p>
        </div>
        <div class="privacy-container mt-5 mb-0">
            <h2>Contact <span> Us</span></h2>
            <p class="line-clamp-4 mb-0">
                If you have any questions, concerns, or complaints about this Privacy Policy or our data practices, please contact us.            
            </p>
        </div>
    </div>
</div>
<div class="section-seprator bg-service pt-5">
    <img src="../../../../assets/img/home/TopCurves.svg">
</div>
