<div class="leap-page">
    <!-- Start Loading -->
    <app-loader *ngIf="loaded"></app-loader>
    <!-- End Loading -->
    <!-- Start Header -->

    <app-page-header
      [headerTitle]="' '"
      [headerImage]="'leap/LEAPBanner.png'"
      >
    </app-page-header>
    <!-- End Header -->
    <!-- Start Contact Content -->
    <!-- Start  -->
    <section class="all-service-page  ">
      <div class="container">
        <!-- breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li routerLink=""  class="breadcrumb-item">
              <svg xmlns="http://www.w3.org/2000/svg"  height="23.016" viewBox="0 0 24 23.016">
                <path id="Home_icon_SVG" data-name="Home icon_SVG" d="M23.728,21.082,13.959,11.25l-.039-.037a2.81,2.81,0,0,0-3.749-.008l-.039.037L.275,21.079A.938.938,0,0,0,1.6,22.406l.744-.743v8.095a3.754,3.754,0,0,0,3.75,3.75H9.469a.937.937,0,0,0,.937-.937V24.93h3.281v7.641a.937.937,0,0,0,.938.938h3.281a3.754,3.754,0,0,0,3.75-3.75.937.937,0,1,0-1.875,0,1.877,1.877,0,0,1-1.875,1.875H15.563V23.993a.937.937,0,0,0-.937-.937H9.469a.937.937,0,0,0-.937.938v7.641H6.094a1.877,1.877,0,0,1-1.875-1.875V19.821q0-.014,0-.028l7.217-7.2a.937.937,0,0,1,1.216,0l7.13,7.177v5.3a.937.937,0,1,0,1.875,0V21.658l.741.746a.937.937,0,0,0,1.33-1.322Z" transform="translate(0 -10.492)" fill="#0055b8"/>
              </svg>
              <a >Home</a>
            </li>
            <li class="breadcrumb-item active"><a>LEAP Event</a></li>
          </ol>
        </nav>
      </div>
    </section>
    <!-- End -->
    <!-- Start -->
    <section class="facts service__category section-space service">
      <div class="content-leap">
        <div class="container">
          <div class="row facts__content-container service__category__image align-items-center ">
              <div class="col-lg-6 d-flex justify-content-center text-center  animate__animated animate__fadeIn animate__delay-1s">
                  <img class="img-fluid" src="../../../../../../assets/img/leap/Img.png">
              </div>
              <div class="col-lg-6 ">
                  <div class="facts__content">
                    <h2 class="service__main__title">Illuminating the Path at LEAP 2024!</h2>
                      <p class=" lh-lg">Beyond a conventional conference, this exceptional event serves as a transformative experience, pushing the boundaries of innovation and inspiration. Here, cutting-edge technologies seamlessly merge with visionary insights, sparking a revolution poised to reshape industries and redefine the realm of possibilities. Participants shall expect a dynamic series of keynote sessions delivered by industry pioneers, engage in immersive workshops and interactive panels, and network with thought leaders, experts, and professionals.</p>
                      <h4 class="service__sub__title">Navigating the Future with Lumin Soft!</h4>
                      <p class="line-clamp-5 lh-lg  ">At Lumin Soft, we are honored to contribute to the vibrant conference of LEAP 24. Join us there and experience firsthand the groundbreaking advancements we are pioneering in the software industry through our state-of-the-art solutions and technologies</p>

                    </div>

              </div>
          </div>
        </div>

      </div>
      <div class="vist-us">
        <div class="section-heading container">
          <h2 data-title="LOCATION">Your Gateway to Lumin Soft!</h2>
        </div>
        <div class="container">
          <div class="row facts__content-container service__category__image align-items-center ">

              <div class="col-lg-6 ">
                  <div class="facts__content">
                      <h4 class="service__sub__title">Meet us at LEAP 2024!</h4>
                      <p class="line-clamp-5 lh-lg  ">To connect with us at LEAP 2024, visit our dedicated Booth No. HS, G50. Our experts will be readily available to engage in meaningful discussions, showcase our latest innovations, and schedule a one-on-one meeting to address any inquiries you may have.</p>
                  </div>

              </div>
              <div class="col-lg-6 d-flex justify-content-center text-center  animate__animated animate__fadeIn animate__delay-1s">
                <img class="img-fluid w-50" src="../../../../../../assets/img/leap/visit-icon.png">
            </div>
          </div>
        </div>
      </div>
      <div class="our-facts sub__category__titles">
          <div class="overlay-sperator">
              <img src="../../../../assets/img/services/BottomCurvedShape.svg">
              <div class="section-heading">
                  <h2 data-title="PROVIDING">Our Products</h2>
              </div>
          </div>
      </div>
      <!-- Start Products -->
      <div class="products py-5">

        <div class="product-content py-5">
          <div class="position-relative">
              <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner" data-interval="1000">
                      <div class="carousel-item active">
                          <div class="row carousel-item-content">
                              <div class="col-lg-7 order-lg-1 order-2 d-flex align-items-center mt-2 ">
                                  <div class="product-details">
                                      <h1 class="product--title">Pitch+ <h5 class="text-primary">Sports Analytics!</h5></h1>
                                      <p class="line-clamp-5">Tailored for football teams, Pitch+ surpasses traditional stats, pinpointing player defects and extracting comprehensive game-related data to enhance overall team performance through AI-driven player profiles and match stats</p>
                                      <div class="d-flex justify-content-end">
                                          <div routerLink="/products/Pitchplus" class="btn-more">
                                              More
                                              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 33.34 20.359">
                                                  <g id="Read_More_Arrow" data-name="Read More Arrow" transform="translate(-601 -3912.647)">
                                                    <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M9.333,4.011l1.035-1.035a1.114,1.114,0,0,1,1.58,0l9.063,9.058a1.114,1.114,0,0,1,0,1.58l-9.063,9.063a1.114,1.114,0,0,1-1.58,0L9.333,21.643a1.12,1.12,0,0,1,.019-1.6l5.618-5.352H1.57c-.62,0,.207-1.1.207-1.782v-.166c0-.684-.827-1.782-.207-1.782h13.4L9.351,5.61A1.112,1.112,0,0,1,9.333,4.011Z" transform="translate(613 3910)" fill="#fff"/>
                                                    <path id="Path_93" data-name="Path 93" d="M1.625,0c.9,0,1.625,1.091,1.625,2.438S2.522,4.875,1.625,4.875,0,3.784,0,2.438.728,0,1.625,0Z" transform="translate(609.375 3920.563)" fill="#fff"/>
                                                    <path id="Path_92" data-name="Path 92" d="M1.5,0C2.328,0,3,.9,3,2S2.328,4,1.5,4,0,3.1,0,2,.672,0,1.5,0Z" transform="translate(605 3921)" fill="#fff"/>
                                                    <path id="Path_91" data-name="Path 91" d="M1.25,0C1.94,0,2.5.746,2.5,1.667S1.94,3.333,1.25,3.333,0,2.587,0,1.667.56,0,1.25,0Z" transform="translate(601 3921.333)" fill="#fff"/>
                                                  </g>
                                              </svg>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-5 order-lg-2 order-1 img-container ">
                                  <div class="product__image__container">
                                      <div class="square__one"></div>
                                      <div class="square__two"></div>
                                      <div class="square__three"></div>
                                      <img class="img-fluid" src="../../../../assets/img/products/statista.jpg" alt="Product Image">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row carousel-item-content">
                              <div class="col-lg-7 order-lg-1 order-2 d-flex align-items-center mt-2 ">
                                  <div class="product-details">
                                      <span class="product--title">Notify <span class="text-primary">Streamlined Alerts!</span></span>
                                      <p class="line-clamp-5">Equipped with a user-friendly web application and robust development capabilities, the advanced Notify enables effortless communication across various mediums, including E-Mail, SMS, Push Notifications, and an array of Social Media Platforms.</p>
                                      <div class="d-flex justify-content-end">
                                          <div routerLink="/products/Notify"  class="btn-more">
                                              More
                                              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 33.34 20.359">
                                                  <g id="Read_More_Arrow" data-name="Read More Arrow" transform="translate(-601 -3912.647)">
                                                    <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M9.333,4.011l1.035-1.035a1.114,1.114,0,0,1,1.58,0l9.063,9.058a1.114,1.114,0,0,1,0,1.58l-9.063,9.063a1.114,1.114,0,0,1-1.58,0L9.333,21.643a1.12,1.12,0,0,1,.019-1.6l5.618-5.352H1.57c-.62,0,.207-1.1.207-1.782v-.166c0-.684-.827-1.782-.207-1.782h13.4L9.351,5.61A1.112,1.112,0,0,1,9.333,4.011Z" transform="translate(613 3910)" fill="#fff"/>
                                                    <path id="Path_93" data-name="Path 93" d="M1.625,0c.9,0,1.625,1.091,1.625,2.438S2.522,4.875,1.625,4.875,0,3.784,0,2.438.728,0,1.625,0Z" transform="translate(609.375 3920.563)" fill="#fff"/>
                                                    <path id="Path_92" data-name="Path 92" d="M1.5,0C2.328,0,3,.9,3,2S2.328,4,1.5,4,0,3.1,0,2,.672,0,1.5,0Z" transform="translate(605 3921)" fill="#fff"/>
                                                    <path id="Path_91" data-name="Path 91" d="M1.25,0C1.94,0,2.5.746,2.5,1.667S1.94,3.333,1.25,3.333,0,2.587,0,1.667.56,0,1.25,0Z" transform="translate(601 3921.333)" fill="#fff"/>
                                                  </g>
                                              </svg>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-5 order-lg-2 order-1 img-container ps-5 ">
                                  <div class="product__image__container">
                                      <div class="square__one"></div>
                                      <div class="square__two"></div>
                                      <div class="square__three"></div>
                                      <img class="img-fluid" src="../../../../assets/img/products/notify.jpg" alt="Product Image">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item ">
                          <div class="row carousel-item-content">
                              <div class="col-lg-7 order-lg-1 order-2 d-flex align-items-center mt-2">
                                  <div class="product-details">
                                      <span class="product--title">eNROLL <span class="text-primary">Digital Onboarding!</span> </span>
                                      <p class="line-clamp-5">The system offers a restructured, paperless, and secure method for verifying customer identities remotely by harnessing advanced technologies such as AI-powered OCR, Facial Recognition Algorithms, and Liveness Detection.</p>
                                      <div class="d-flex justify-content-end">
                                          <div routerLink="/products/eNroll"  class="btn-more">
                                              More
                                              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 33.34 20.359">
                                                  <g id="Read_More_Arrow" data-name="Read More Arrow" transform="translate(-601 -3912.647)">
                                                    <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M9.333,4.011l1.035-1.035a1.114,1.114,0,0,1,1.58,0l9.063,9.058a1.114,1.114,0,0,1,0,1.58l-9.063,9.063a1.114,1.114,0,0,1-1.58,0L9.333,21.643a1.12,1.12,0,0,1,.019-1.6l5.618-5.352H1.57c-.62,0,.207-1.1.207-1.782v-.166c0-.684-.827-1.782-.207-1.782h13.4L9.351,5.61A1.112,1.112,0,0,1,9.333,4.011Z" transform="translate(613 3910)" fill="#fff"/>
                                                    <path id="Path_93" data-name="Path 93" d="M1.625,0c.9,0,1.625,1.091,1.625,2.438S2.522,4.875,1.625,4.875,0,3.784,0,2.438.728,0,1.625,0Z" transform="translate(609.375 3920.563)" fill="#fff"/>
                                                    <path id="Path_92" data-name="Path 92" d="M1.5,0C2.328,0,3,.9,3,2S2.328,4,1.5,4,0,3.1,0,2,.672,0,1.5,0Z" transform="translate(605 3921)" fill="#fff"/>
                                                    <path id="Path_91" data-name="Path 91" d="M1.25,0C1.94,0,2.5.746,2.5,1.667S1.94,3.333,1.25,3.333,0,2.587,0,1.667.56,0,1.25,0Z" transform="translate(601 3921.333)" fill="#fff"/>
                                                  </g>
                                              </svg>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-5 order-lg-2 order-1 img-container ps-5 ">
                                  <div class="product__image__container">
                                      <div class="square__one"></div>
                                      <div class="square__two"></div>
                                      <div class="square__three"></div>
                                      <img class="img-fluid" src="../../../../assets/img/products/eNROLL.jpg" alt="Product Image">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item ">
                          <div class="row carousel-item-content">
                              <div class="col-lg-7 order-lg-1 order-2 d-flex align-items-center mt-2 ">
                                  <div class="product-details">
                                      <span class="product--title">SWAP <span class="text-primary">Smooth Transactions!</span></span>
                                      <p class="line-clamp-5">Marked by a relentless dedication to efficiency and user-centric design, our platform orchestrates an expedited process for enabling payment services, guaranteeing a frictionless and swift deployment for facilitators and sub-merchants alike.</p>
                                      <div class="d-flex justify-content-end">
                                          <div routerLink="/products/SWAP"  class="btn-more">
                                              More
                                              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 33.34 20.359">
                                                  <g id="Read_More_Arrow" data-name="Read More Arrow" transform="translate(-601 -3912.647)">
                                                    <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M9.333,4.011l1.035-1.035a1.114,1.114,0,0,1,1.58,0l9.063,9.058a1.114,1.114,0,0,1,0,1.58l-9.063,9.063a1.114,1.114,0,0,1-1.58,0L9.333,21.643a1.12,1.12,0,0,1,.019-1.6l5.618-5.352H1.57c-.62,0,.207-1.1.207-1.782v-.166c0-.684-.827-1.782-.207-1.782h13.4L9.351,5.61A1.112,1.112,0,0,1,9.333,4.011Z" transform="translate(613 3910)" fill="#fff"/>
                                                    <path id="Path_93" data-name="Path 93" d="M1.625,0c.9,0,1.625,1.091,1.625,2.438S2.522,4.875,1.625,4.875,0,3.784,0,2.438.728,0,1.625,0Z" transform="translate(609.375 3920.563)" fill="#fff"/>
                                                    <path id="Path_92" data-name="Path 92" d="M1.5,0C2.328,0,3,.9,3,2S2.328,4,1.5,4,0,3.1,0,2,.672,0,1.5,0Z" transform="translate(605 3921)" fill="#fff"/>
                                                    <path id="Path_91" data-name="Path 91" d="M1.25,0C1.94,0,2.5.746,2.5,1.667S1.94,3.333,1.25,3.333,0,2.587,0,1.667.56,0,1.25,0Z" transform="translate(601 3921.333)" fill="#fff"/>
                                                  </g>
                                              </svg>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-5 order-lg-2 order-1 img-container ps-5 ">
                                  <div class="product__image__container">
                                      <div class="square__one"></div>
                                      <div class="square__two"></div>
                                      <div class="square__three"></div>
                                      <img class="img-fluid" src="../../../../assets/img/products/swap.jpg" alt="Product Image">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-item ">
                          <div class="row carousel-item-content">
                              <div class="col-lg-7 order-lg-1 order-2 d-flex align-items-center mt-2 ">
                                  <div class="product-details">
                                      <span class="product--title">FitMate+ <span class="text-primary">for Beginners!</span></span>
                                      <p class="line-clamp-5">This innovative program detects and highlights exercises, framing the body in green for correct execution, and alerting in red for errors. The AI engine provides real-time guidance, ensuring every move is on point with precision and feedback.</p>
                                      <div class="d-flex justify-content-end">
                                          <div  routerLink="/products/FitMateplus"  class="btn-more">
                                              More
                                              <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 33.34 20.359">
                                                  <g id="Read_More_Arrow" data-name="Read More Arrow" transform="translate(-601 -3912.647)">
                                                    <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M9.333,4.011l1.035-1.035a1.114,1.114,0,0,1,1.58,0l9.063,9.058a1.114,1.114,0,0,1,0,1.58l-9.063,9.063a1.114,1.114,0,0,1-1.58,0L9.333,21.643a1.12,1.12,0,0,1,.019-1.6l5.618-5.352H1.57c-.62,0,.207-1.1.207-1.782v-.166c0-.684-.827-1.782-.207-1.782h13.4L9.351,5.61A1.112,1.112,0,0,1,9.333,4.011Z" transform="translate(613 3910)" fill="#fff"/>
                                                    <path id="Path_93" data-name="Path 93" d="M1.625,0c.9,0,1.625,1.091,1.625,2.438S2.522,4.875,1.625,4.875,0,3.784,0,2.438.728,0,1.625,0Z" transform="translate(609.375 3920.563)" fill="#fff"/>
                                                    <path id="Path_92" data-name="Path 92" d="M1.5,0C2.328,0,3,.9,3,2S2.328,4,1.5,4,0,3.1,0,2,.672,0,1.5,0Z" transform="translate(605 3921)" fill="#fff"/>
                                                    <path id="Path_91" data-name="Path 91" d="M1.25,0C1.94,0,2.5.746,2.5,1.667S1.94,3.333,1.25,3.333,0,2.587,0,1.667.56,0,1.25,0Z" transform="translate(601 3921.333)" fill="#fff"/>
                                                  </g>
                                              </svg>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-5 order-lg-2 order-1 img-container ps-5 ">
                                  <div class="product__image__container">
                                      <div class="square__one"></div>
                                      <div class="square__two"></div>
                                      <div class="square__three"></div>
                                      <img class="img-fluid" src="../../../../assets/img/products/i-trainer.jpg" alt="Product Image">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      </div>
                  </div>
              </div>
              <div class="d-flex justify-content-center my-4">
                  <button  routerLink="/products"  class="btn btn-secondary">All Products 
                      <svg xmlns="http://www.w3.org/2000/svg" width="33.34" height="20.359" viewBox="0 0 33.34 20.359">
                          <g id="Read_More_Arrow" data-name="Read More Arrow" transform="translate(-601 -3912.647)">
                          <path id="Icon_awesome-arrow-right" data-name="Icon awesome-arrow-right" d="M9.333,4.011l1.035-1.035a1.114,1.114,0,0,1,1.58,0l9.063,9.058a1.114,1.114,0,0,1,0,1.58l-9.063,9.063a1.114,1.114,0,0,1-1.58,0L9.333,21.643a1.12,1.12,0,0,1,.019-1.6l5.618-5.352H1.57c-.62,0,.207-1.1.207-1.782v-.166c0-.684-.827-1.782-.207-1.782h13.4L9.351,5.61A1.112,1.112,0,0,1,9.333,4.011Z" transform="translate(613 3910)" fill="#fff"/>
                          <path id="Path_93" data-name="Path 93" d="M1.625,0c.9,0,1.625,1.091,1.625,2.438S2.522,4.875,1.625,4.875,0,3.784,0,2.438.728,0,1.625,0Z" transform="translate(609.375 3920.563)" fill="#fff"/>
                          <path id="Path_92" data-name="Path 92" d="M1.5,0C2.328,0,3,.9,3,2S2.328,4,1.5,4,0,3.1,0,2,.672,0,1.5,0Z" transform="translate(605 3921)" fill="#fff"/>
                          <path id="Path_91" data-name="Path 91" d="M1.25,0C1.94,0,2.5.746,2.5,1.667S1.94,3.333,1.25,3.333,0,2.587,0,1.667.56,0,1.25,0Z" transform="translate(601 3921.333)" fill="#fff"/>
                          </g>
                      </svg>
                  </button>
              </div>
              </div>
          </div>
      </div>
      </div>
      <!-- End Products -->




  </section>
    <!-- End -->
<!-- Start Form Contact -->
<div class="partners contact-form">
  <!-- <img src="../../../../assets/img/BG.svg"> -->
  <div class="section-heading">
      <h2 data-title="inquiries ">Inquiry Request</h2>

  </div>
  <div class="parteners--overlay">
      <div class="container-fluid">
          <div class="row">
              <div class="services-overview pt-5">
                  <p class="line-clamp-4">Feel free to reach us for any inquiries and one of our representatives will contact you soon
                  </p>
              </div>

          </div>
      </div>
      <div class="container">

        <!-- <form  class="form" [formGroup]="contactForm" (ngSubmit)="contactSubmit(contactForm)" >
            <div class="row g-4 py-5">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-floating ">
                  <input type="text" class="form-control" id="Name" placeholder="Name" formControlName="name" name="Name"
                  [class]="contactForm.get('name')?.errors && contactForm.get('name')?.touched ? 'is-invalid'  '' "  >
                  <label for="Name">Name</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-floating ">
                  <input type="text" class="form-control" id="CompanyName" placeholder="Company Name" formControlName="company" name="Company Name">
                  <label for="CompanyName">Company Name</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-floating ">
                  <input type="email" class="form-control" id="Email" placeholder="E-mail" formControlName="email" name="E-mail"
                  [class]="contactForm.get('email')?.errors && contactForm.get('email')?.touched ? 'is-invalid'  '' " >
                  <label for="Email">E-mail</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-floating ">
                  <input type="text" class="form-control" id="PhoneNumber" placeholder="Phone Number" formControlName="phone" name="Phone"
                  [class]="contactForm.get('phone')?.errors && contactForm.get('phone')?.touched ? 'is-invalid'  '' " >
                  <label for="PhoneNumber">Phone Number</label>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-floating ">
                  <textarea class="form-control" placeholder="Your Message" id="YourMessage"  formControlName="message" name="Message"
                  [class]="contactForm.get('message')?.errors && contactForm.get('message')?.touched ? 'is-invalid'  '' " ></textarea>
                  <label for="YourMessage">Your Message</label>
                </div>
              </div>
              <div class="col-lg-12 text-center ">
                <button  class="btn btn-primary px-5" type="submit">Submit
                  <img src="../../../../assets/img/home/icons/arrow.svg" width="20" class="ms-2">
              </button>
              </div>
            </div>
          </form>-->
          <form class="form"  action="mailto:info@luminsoft.net" method="post" enctype="text/plain">
          <div class="row g-4 py-5">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-floating ">
                <input type="text" class="form-control" id="Name" placeholder="Name"  name="Name" >
                <label for="Name">Name</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-floating ">
                <input type="text" class="form-control" id="CompanyName" placeholder="Company Name"  name="Company Name">
                <label for="CompanyName">Company Name</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-floating ">
                <input type="email" class="form-control" id="Email" placeholder="E-mail"  name="E-mail"
                 >
                <label for="Email">E-mail</label>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-floating ">
                <input type="text" class="form-control" id="PhoneNumber" placeholder="Phone Number"  name="Phone" >
                <label for="PhoneNumber">Phone Number</label>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="form-floating ">
                <textarea class="form-control" placeholder="Your Message" id="YourMessage"   name="Message" ></textarea>
                <label for="YourMessage">Your Message</label>
              </div>
            </div>
            <div class="col-lg-12 text-center ">
              <button  class="btn btn-primary px-5" type="submit">Submit
                <img src="../../../../assets/img/home/icons/arrow.svg" width="20" class="ms-2">
            </button>
            </div>
          </div>
        </form>

      </div>
  </div>

</div>
<!-- End Form Contact -->


</div>
<div class="section-seprator bg-white">
  <img src="../../../../assets/img/home/TopCurves.svg">
</div>
