<app-loader *ngIf="loaded"></app-loader>
<app-page-header
  [headerTitle]="'Our Customers'"
  [headerImage]="'partners/header.png'"
  [showWhiteCurve]="true"
  id="customerHeader"
  >
</app-page-header>
<div class="partners partner__page">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li routerLink=""  class="breadcrumb-item">
                <svg xmlns="http://www.w3.org/2000/svg"  height="23.016" viewBox="0 0 24 23.016">
                  <path id="Home_icon_SVG" data-name="Home icon_SVG" d="M23.728,21.082,13.959,11.25l-.039-.037a2.81,2.81,0,0,0-3.749-.008l-.039.037L.275,21.079A.938.938,0,0,0,1.6,22.406l.744-.743v8.095a3.754,3.754,0,0,0,3.75,3.75H9.469a.937.937,0,0,0,.937-.937V24.93h3.281v7.641a.937.937,0,0,0,.938.938h3.281a3.754,3.754,0,0,0,3.75-3.75.937.937,0,1,0-1.875,0,1.877,1.877,0,0,1-1.875,1.875H15.563V23.993a.937.937,0,0,0-.937-.937H9.469a.937.937,0,0,0-.937.938v7.641H6.094a1.877,1.877,0,0,1-1.875-1.875V19.821q0-.014,0-.028l7.217-7.2a.937.937,0,0,1,1.216,0l7.13,7.177v5.3a.937.937,0,1,0,1.875,0V21.658l.741.746a.937.937,0,0,0,1.33-1.322Z" transform="translate(0 -10.492)" fill="#0055b8"/>
                </svg>
                <a >Home</a>
              </li>
              <li class="breadcrumb-item active"><a>Customers</a></li>
            </ol>
          </nav>
    </div>
    <div class="parteners--overlay">
        <div class="container">
            <div class="services-overview ">
                <p class="line-clamp-4">Focused on customer satisfaction, we strive to provide our valued customers with unparalleled services, tailor-made solutions, and seamless experiences. By cultivating strong relationships with individuals and organizations, we create a synergy that enhances our ability to meet their unique needs.</p>
            </div>
            <div class="row">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane row fade show active  " id="clients" role="tabpanel"  >
                        <div class="row g-3">
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/COWPAY-Logo.png" alt="BritishCouncil-logo">
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/NASPS.png" alt="NASPS-logo">
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/e-finance-logo.png" alt="e-finance-logo">
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/egypt-post-logo.png" alt="egypt-post-logo">
                                </div>
                            </div>
                           
                        </div>
                        <div class="row g-3">
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/misistryoffinancelogo.png" alt="misistry-off-financelog">
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/ministry-of-health.png" alt="ministry-of-health">
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/EgyptTaxationAuthority.png" alt="EgyptTaxationAuthority">
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/fra-logo.png" alt="fra-logo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane row fade " id="partners" role="tabpanel" >
                        <div class="row g-3">
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/RayaLog.png" alt="RayaLogo">
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/InnovatricsLogo.png" alt="InnovatricsLogo">
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/Entrus-Logo.png" alt="Entrus-Logo">
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 d-flex justify-content-center align-items-center">
                                <div class="logo-container">
                                    <img src="../../../../assets/img/home/logos/Odoo-Logo.png" alt="Odoo-Logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="section-seprator bg-white">
    <img src="../../../../assets/img/home/TopCurves.svg">
  </div>
  